.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}
.menu-list {
  display: flex;
  gap: 50%;
  justify-content: center;
  margin-top: 1%;
}
.menu-list a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
}
.menu-list p {
  color: white;
  font-size: 1.6rem;
  font-family: "Dancing Script", cursive;
  cursor: default;
}
.menu-list a:hover {
  color: black;
}
.cv {
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 100%);
  border: none;
  border-radius: 10px;
  width: 100px;
}
@media (max-width: 1160px) {
  .menu-list {
    width: 70%;
    gap: 10%;
  }
}
@media (max-width: 500px) {
  .menu-list {
    width: 70%;
    gap: 5px;
  }
}
@media (max-width: 500px) {
  .menu-list {
    display: none;
  }
}
